.container{
    display: flex;
    width: 70%;
    margin:5px 15%;
    border:1px solid lightgray;
    border-radius: 10px;
    .img{
        width: 200px;
        height: 200px;
        margin-left: 20px;
        object-fit: contain;
    }
    .rigth{
        height: 100px;
        display: flex;
        margin: auto;
        text-align: center;
    
   
    
 
    .info{
        display: flex;
        width: 500px;
        height: 100px;
        align-items: center;
        justify-content: space-between;
        margin:0 20px;
        .name{
            color:rgb(53, 34, 34);
        }
        .weigth{
            display: flex;
            gap: 10px;
        }
    }
    .qtt{
        display: flex;
        width: 100px;
        height: 100px;
        align-items: center;
        justify-content: space-between;
        .add{
            display: flex;
            align-items: center;
            border:1px solid lightgray;
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
        }
    }
    .total{
        text-align: center;
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    .delete{
        display: flex;
        align-items: center;
        // justify-content: center;
        margin: 0 20px;
        color: red;;
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;
    }
}
}

@media screen and (max-width: 480px) {
    .container {
      flex-direction: column;
      margin: auto;
      margin-bottom: 20px;
      width: 350px;
      .img{
          margin: auto;
      }
      .rigth{
          flex-direction: column;
          height: auto;
          max-width: 350px;
          .info{
                width: 350px; 
                display: flex;
                flex-direction: column;  
                margin: auto;
                margin-bottom: 50px;
          }
          .qtt{
            height: auto;
            margin: auto;
            margin-bottom: 20px;
          }
          .total{
              font-weight: 500;
              font-size: 18px;
              display: flex;
              align-items: center;
              justify-content: center;
          }
          .delete{
              justify-content: end;
              margin: 5px 20px;
              font-size: 24px;
          }
      }
  
   
  }
}