.container{
    color: rgb(53, 34, 34);
    .header{
        text-align: center;
        color: rgb(95, 3, 3);
    }
    .info{
        width: 500px;
        margin: auto;
        display: flex;
        margin-top: 50px;
       .left{

        .img{
            object-fit: contain;
        }
    } 
    .right{
        text-align: center;
        margin-top: 70px;
    }
    }
    
}
@media screen and (max-width: 480px) {
    .container{
       .info{
           width: 350px;
           .right{
               margin-top: 20px;
           }
       } 
    }
}